.entete {
    display: flex;
}

#connect {
    margin-top: 20px;
}

#footer {
    background: #000000;
}

#footer a {
    text-decoration: none;
}

#lastEpisode {
    padding: 10px 10px 10px 10px;
}


.text-justify {
    padding: 5px 5px 5px 5px;
}


.panel-body a span{
    position:absolute;
    top:120px;
    left:60px;
    display:none;
}
